<div class="container spacer">

  <button routerLink="/about" class="btn btn-primary">A propos </button>

  <button routerLink="/produitsNew" class="btn btn-primary"> Nouveau Produit </button>

  <button routerLink="/paysNew" class="btn btn-primary"> Nouveau Pays </button>

  <button routerLink="/validationProduit" class="btn btn-primary"> Validation Produit </button>

  <button routerLink="/editProduit" class="btn btn-primary"> Edit Produit </button>

  <button routerLink="/produits" class="btn btn-primary"> Liste des Produits </button>

  <button routerLink="/produitsParMc" class="btn btn-primary"> Liste des Produits Par Mot Clé </button>

</div>

<router-outlet>


</router-outlet>

